@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    background-image: url("../components/assets/images/michael-benz-IgWNxx7paz4-unsplash.jpg");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    padding: 5%;
}

h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    opacity: 75%;
    text-align:center;
}

.profile {
    margin: 0%;
    margin-top: 10%;
    padding-left:0%;
    border: 1px black solid;
    border-radius:20%;
    
}

main {
    color: white
}

.body {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    background: #0A3147;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}