@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header {
  /* background: #0d3c45; */
  height: 200px;
}

.header h1 {
  margin: 0;
  padding-top: 10px;
  /* padding-left:2%; */
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  opacity: 75%;
  font-family: 'Montserrat', sans-serif;
}


@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.nav {
  display: block;
}